<?xml version="1.0" encoding="UTF-8"?>
 
<config>
 
    <modules>
        <Company_MyModule>
            <version>0.1.0</version>
        </Company_MyModule>
    </modules>
 
    <global>
        <blocks>
            <checkout>
                <rewrite>
                    <cart_item_renderer>Remarkable_SetupFee_Block_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
        </blocks>   
       
        <models>
          <!-- may not need this here since the only model class is a rewrite -->
            <mymodule>
                <class>Remarkable_SetupFee_Model</class>
            </mymodule>
          <!-- definately need this! -->
            <sales>
                <rewrite>
                    <quote_item>Remarkable_SetupFee_Model_Quote_Item</quote_item>
                </rewrite>
            </sales>
        </models>
    </global>
 
</config>